@media screen and (max-width: 375px) {
  p {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  h6 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  h5 {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  h4 {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h1 {
    font-size: 29px;
    font-size: 1.8125rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 376px) {
  p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  h5 {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
  }
  h3 {
    font-size: 37px;
    font-size: 2.3125rem;
    line-height: 1.25;
  }
  h2 {
    font-size: 49px;
    font-size: 3.0625rem;
    line-height: 1.25;
  }
  h1 {
    font-size: 65px;
    font-size: 4.0625rem;
    line-height: 1.25;
  }
}
