@import 'setup';
@import 'mixins';

////  Desktop
//    Calculation

$p:                   round($body);
$h6:                  round($body);
$h5:                  round($h6*$ratio);
$h4:                  round($h5*$ratio);
$h3:                  round($h4*$ratio);
$h2:                  round($h3*$ratio);
$h1:                  round($h2*$ratio);

//    Line Height
$lh-p:                round($body*$lineHeight);
$lh-h1:               round($h1*$lineHeight);
$lh-h2:               round($h2*$lineHeight);
$lh-h3:               round($h3*$lineHeight);
$lh-h4:               round($h4*$lineHeight);
$lh-h5:               round($h5*$lineHeight);
$lh-h6:               round($h6*$lineHeight);


////  Mobile
//    Calculation

$mp:                  round($mbody);
$mh6:                 round($mbody);
$mh5:                 round($mh6*$mratio);
$mh4:                 round($mh5*$mratio);
$mh3:                 round($mh4*$mratio);
$mh2:                 round($mh3*$mratio);
$mh1:                 round($mh2*$mratio);

//    Line Height
$mlh-p:                round($mbody*$mlineHeight);
$mlh-h1:               round($mh1*$mlineHeight);
$mlh-h2:               round($mh2*$mlineHeight);
$mlh-h3:               round($mh3*$mlineHeight);
$mlh-h4:               round($mh4*$mlineHeight);
$mlh-h5:               round($mh5*$mlineHeight);
$mlh-h6:               round($mh6*$mlineHeight);

//    Calculation

@media screen and (max-width: $break-mobile) {

  p {   @include fontSize($mbody);
        @include lineHeight($mlh-p); }
  h6 {  @include fontSize($mh6);
        @include lineHeight($mlh-h6); }
  h5 {  @include fontSize($mh5);
        @include lineHeight($mlh-h5); }
  h4 {  @include fontSize($mh4);
        @include lineHeight($mlh-h4); }
  h3 {  @include fontSize($mh3);
        @include lineHeight($mlh-h3); }
  h2 {  @include fontSize($mh2);
        @include lineHeight($mlh-h2); }
  h1 {  @include fontSize($mh1);
        @include lineHeight($mlh-h1); }
}
@media screen and (min-width: $break-desktop) {

  p {   @include fontSize($body);
        @include lineHeight($lh-p); }
  h6 {  @include fontSize($h6);
        @include lineHeight($lh-h6); }
  h5 {  @include fontSize($h5);
        @include lineHeight($lh-h5); }
  h4 {  @include fontSize($h4);
        @include lineHeight($lh-h4); }
  h3 {  @include fontSize($h3);
        @include lineHeight($lh-h3); }
  h2 {  @include fontSize($h2);
        @include lineHeight($lh-h2); }
  h1 {  @include fontSize($h1);
        @include lineHeight($lh-h1); }
}
